[mysqld]
bind-address=0.0.0.0
console=1
general_log=1
general_log_file=/dev/stdout
log_error=/dev/stderr


max_connections=512
max_connect_errors=100000
max_allowed_packet=8M
max_heap_table_size=32M
sort_buffer_size=4M
join_buffer_size=128K
thread_cache_size=16
query_cache_size=16M
query_cache_limit=1M
tmp_table_size=32M
key_buffer_size=16M
read_buffer_size=4M
read_rnd_buffer_size=4M
bulk_insert_buffer_size=16M
wait_timeout=28800
innodb_additional_mem_pool_size=16M
innodb_log_buffer_size=8M
innodb_log_file_size=128M
innodb_log_files_in_group=2
innodb_buffer_pool_size=4G
innodb_data_home_dir=/var/lib/mysql/
innodb_data_file_path=ibdata1:256M;ibdata2:512M:autoextend
innodb_autoextend_increment=64
innodb_thread_concurrency=8